.leftcolumn {
    float: left;
    width: 75%;
}
.rightcolumn {
    float: right;
    width: 24%;
    padding-left: 10px;
}
.card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border: 7px solid #Ccd5ae;
    border-radius: 10px;
}
.img {
    width: 100%;
    height:auto;
.row::after {
    content: "";
    display: table;
    clear: both;
}
.card:hover {
    background-color: #da8830;
}
